//Width
.w-80rem {
  max-width: 80rem;
}

.max-w-30-per {
  max-width: 30%;
}

.min-w-4 {
  min-width: 40% !important;
}

.max-w-5 {
  min-width: 50% !important;
}

.min-w-5rem {
  min-width: 5rem !important;
}

.min-w-10rem {
  min-width: 10rem !important;
}
