// INITIAL PRIMENG CONFIGS
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.scss';

// CUSTOM THEMES IMPORTS
@import "assets/theme/sizes";

// PROJECTS CONFIG TO DEFAULT
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
